// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$GymMassiveFE-primary: mat.define-palette(mat.$indigo-palette);
$GymMassiveFE-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$GymMassiveFE-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$GymMassiveFE-theme: mat.define-light-theme(
	 (color: (primary: $GymMassiveFE-primary, accent: $GymMassiveFE-accent, warn: $GymMassiveFE-warn))
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($GymMassiveFE-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}
.form {
	width: 100%;

	&-full-width {
		width: 100%;
	}

	&-half-width {
		width: 50%;
		&:first-child {
			margin-right: 10px;
			width: 48%;
		}
	}
	&-cuarter-width {
		width: 30%;
		&:not(:last-child) {
			margin-right: 10px;
			width: 28%;
		}
	}

	&-wrapper {
		background-color: #ebecf0;
		height: 100%;
		width: 100%;
		padding: 0 18px;
	}

	& > h1 {
		font-family: 'Fjalla One', sans-serif;
		font-size: 60px;
		margin-top: 30px;
		text-align: center;
		margin-bottom: 80px;
	}
}
