.routine {
	&-spinner {
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}

	& > p {
		font-size: 20px;
		margin: auto 100px;
		border: solid 1px #d5d1d1;
		padding: 20px;
		text-align: center;
		border-radius: 7px;
	}
}

.close-button {
	background: none;
	border: none;
	font-size: 15px;
	margin: 10px;
	cursor: pointer;
}

table {
	width: 100%;
}

.mat-form-field {
	font-size: 14px;
	width: 25%;
}

.table-filter {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.table-actions {
	cursor: pointer;
}
