:host {
	max-width: 350px;
	margin: 10px;
}

.card {
	&-title {
		font-size: 20px;
		margin: 10px 0;
	}
	&-subtitle {
		font-size: 17px;
	}
	&-content {
		font-size: 18px;
	}
}

.mat-card {
	min-height: 350px;
	min-width: 330px;

	.mat-card-image {
		min-height: 205px;
		max-height: 205px;
	}
}
