<form [formGroup]="formGroup">
    <div class="day-wrapper">
        <div class="day-remove">
            <ng-content select="button"></ng-content>
        </div>
        <mat-form-field class="form-full-width" appearance="outline" floatLabel="always">
            <mat-label>Día</mat-label>
            <mat-select formControlName="day" placeholder="Día">
                <ng-container *ngFor="let day of days">
                    <mat-option [value]="day">{{day}}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>

        <ng-container formArrayName="exercises">
            <div *ngFor="let exercise of exercises.controls; index as i">
                <ng-container [formGroupName]="i">
                    <mat-form-field class="form-cuarter-width" appearance="outline" floatLabel="always">
                        <mat-label>Ejercicio</mat-label>
                        <mat-select placeholder="Ejercicio" formControlName="routine">
                            <ng-container *ngFor="let routine of routines">
                                <mat-option [value]="routine.id">{{routine.group}} | {{routine.exercise}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="form-cuarter-width" appearance="outline" floatLabel="always">
                        <mat-label>Series (#)</mat-label>
                        <input matInput formControlName="sets" type="number" autocomplete="off">
                    </mat-form-field>

                    <mat-form-field class="form-cuarter-width" appearance="outline" floatLabel="always">
                        <mat-label>Repeticiones por serie (#)</mat-label>
                        <input matInput formControlName="reps" type="number" autocomplete="off">
                    </mat-form-field>
                </ng-container>
                <button *ngIf="exercisesLength > 1" mat-button color="primary" (click)="removeExercise(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </ng-container>

        <div class="day-button">
            <button mat-flat-button color="primary" (click)="addEmptyExercise()">Agregar Ejercicio</button>
        </div>
    </div>
</form>

<!-- https://netbasal.com/angular-reactive-forms-the-ultimate-guide-to-formarray-3adbe6b0b61a -->