<div class="banner">
    <img src="../../../../assets/Rutine.jpeg" />
    <div class="banner-header">
        <h1>Mi Rutina</h1>
    </div>
    <hr />
</div>

<div class="routine-spinner" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>

<div class="routine" *ngIf="noAvailable">
    <p>Servicio no Disponible</p>
</div>

<div *ngIf="!loading && !noAvailable">
    <ng-container *ngIf="routines.length;else empty">

        <ng-container *ngFor="let day of dayRoutineKeys">
            <ng-container *ngIf="dayRoutine[day].length">
                <h2>{{day}}</h2>
                <div class="routine-wrapper">
                    <ng-container *ngFor="let routineDay of dayRoutine[day]">
                        <app-routine-card [actionButton]="false" [reps]="routineDay.reps" [sets]="routineDay.sets"
                            [routine]="routineDay.training"></app-routine-card>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>

    </ng-container>
    <ng-template #empty>
        <p class="empty">Sin Resultados</p>
    </ng-template>
</div>