@import '../../../../assets/variables';
.banner {
	background-color: white;
	& > img {
		object-fit: cover;
		height: 200px;
		width: 100%;
	}

	& h1 {
		font-family: $title-font;
		font-size: 40px;
		font-weight: bold;
		margin: 10px 5px;
		padding: 12px;
	}

	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.routine-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	& > p {
		font-size: 30px;
		margin: 100px;
		border: solid 1px #d5d1d1;
		padding: 20px;
		text-align: center;
		border-radius: 7px;
	}
}
