<div class="banner">
    <img src="../../../../assets/routines.png" />
    <div class="banner-header">
        <h1>Consultar Ejercicios</h1>
        <div class="button-wrapper">
            <button *ngIf="enableEdit" mat-flat-button color="primary" style="margin-bottom: 5px;"
                (click)="createRoutine()">Crear
                Ejercicio</button>
            <mat-form-field appearance="outline">
                <mat-icon matSuffix>search</mat-icon>
                <input matInput placeholder="Buscar" autocomplete="off" [formControl]="searchControl" />
            </mat-form-field>
        </div>
    </div>
    <hr />
</div>

<div class="routine-spinner" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>

<div class="routine-wrapper" *ngIf="!loading">
    <ng-container *ngIf="routines.length;else empty">
        <ng-container *ngFor="let routine of routines">
            <app-routine-card (reloadRoutines)="getRoutines()" [actionButton]="enableEdit" [routine]="routine">
            </app-routine-card>
        </ng-container>
    </ng-container>
    <ng-template #empty>
        <p>Sin Resultados</p>
    </ng-template>
</div>