@import '../../../../assets/variables';
.banner {
	background-color: white;
	& > img {
		object-fit: cover;
		height: 200px;
		width: 100%;
	}

	& h1 {
		font-family: $title-font;
		font-size: 40px;
		font-weight: bold;
		margin: 10px 5px;
		padding: 12px;
	}

	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}